<tr>
  <td>
    <button class="btn btn-primary btn-sm" ng-hide="modoEdicalFlag"
            ng-click="entrarNoModoDeEdicao()"><i class="glyphicon glyphicon-pencil"></i></button>
    <button class="btn btn-warning btn-sm" ng-show="modoEdicalFlag"
            ng-click="sairNoModoDeEdicao()"><i class="glyphicon glyphicon-floppy-remove"></i></button>
  </td>
  <td><span ng-hide="modoEdicalFlag">{{categoria.nome}}</span>

    <form ng-submit="editar()">
      <div class="input-group" style="width: 200px;" ng-show="modoEdicalFlag">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="categoriaParaEdicao.nome">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-floppy-save"></i></button>
      </span>
        </div>
        <!-- /input-group -->
      </div>
    </form>
  </td>
  <td>{{categoria.id}}</td>
  <td>{{categoria.creation}}</td>
  <td>
    <button class="btn btn-danger btn-sm" ng-click="deletar()"><i class="glyphicon glyphicon-trash"></i></button>
  </td>
</tr>